.container{
	height: 600px;
	width: 600px;
	position: relative;
}

/*.playerCar{
	height: 180px;
	width: 80px;
	background-image: url("../images/car.png");
	position: absolute;
	background-size: cover;
}*/

.track{
	background-image: url("../images/track.png");
	position: absolute;
	background-size: 90%;
}

#score {
  color: #ffffff;
  font-size: 18pt;
  position: absolute;
  left: 0px;
  top: 0px;
}

